<form class="p-[10%] gap-3  grid items-center -y-2" action="/books" method="POST">
    <div class="grid">
        <label for="title">Title</label>
        <input class="border-2 p-1 text-lg" type="text" name="title" id="title" value="<%= book.title %>" required>
    </div>

    <div class="grid">
        <label for="author">Author</label>
        <select class="border-2 p-1 text-lg" name="author" id="author">
            <% authors.forEach((author)=> { %>
                <% if(author.id===book.author) {%>
                    <option value="<%= author.id %>" selected>
                        <%= author.name %>
                    </option>
                    <% } else { %>
                        <option value="<%= author.id %>">
                            <%= author.name %>
                        </option>
                        <% } %>
                            <% }) %>
        </select>
    </div>

    <div class="grid">
        <label for="publishedDate">Published Date</label>
        <input class="border-2 p-1 text-lg" type="date" name="publishedDate" id="publishedDate"
            value="<%= book.publishedDate %>" required>
    </div>

    <div class="grid">
        <label for="pageCount">Page Count</label>
        <input class="border-2 p-1 text-lg" type="number" name="pageCount" id="pageCount" min="1" value="<%= book.pageCount %>" required>
    </div>

    <div class="grid">
        <label for="cover">Cover Image</label>
        <input class="filepond border-2 p-1 text-lg w-1/2 justify-self-center rounded-xl" type="file" name="cover">
    </div>

    <div class="grid">
        <label for="description">Description</label>
        <textarea class="border-2 p-1 text-lg" name="description" id="description" cols="10" rows="10"><%= book.description %></textarea>
    </div>

    <div class="grid gap-3">
        <input type="submit" class="text-white bg-blue-500 hover:bg-blue-700 active:bg-blue-900 p-1 rounded-md" value="Create Book">
        <a href="/books" class="text-white text-center bg-red-500 hover:bg-red-700 active:bg-red-900 p-1 rounded-md">Cancel</a>
    </div>
</form>